<div class="mb-3">
    <label for="other-info" class="form-label">Työn julkaissut oppilaitos:</label>
    <input type="text" class="form-control" id="other-info" placeholder="Syötä koulu, joka julkaisi opinnäytetyön..." @bind-value="FormModel.School">

    <ValidationMessage For="(() => FormModel.School)" />
</div>

<div class="form-check">
    <label class="form-check-label" for="release-known">Tiedekunta?</label>
    <input class="form-check-input" type="checkbox" checked="@FormModel.ReleaseKnown" id="release-known" @oninput="@OnReleaseKnownChanged">
</div>

<div class="mb-3">
    <label for="other-info" class="form-label">Tiedekunta:</label>
    <input type="text" class="form-control" id="other-info" placeholder="Syötä koulu, joka julkaisi opinnäytetyön..." @bind-value="FormModel.School">

    <ValidationMessage For="(() => FormModel.School)" />
</div>

@code {
    ThesisModel FormModel { get; set; }
}
