@inherits TypeBase<ThesisModel>

<div class="mb-3">
    <label for="other-info" class="form-label">Työn julkaissut oppilaitos:</label>
    <input type="text" class="form-control" id="other-info" placeholder="Syötä koulu, joka julkaisi opinnäytetyön..." @bind-value="Model.School">

    <ValidationMessage For="(() => Model.School)" />
</div>

<div class="form-check">
    <label class="form-check-label" for="release-known">Tiedekunta?</label>
    <input class="form-check-input" type="checkbox" checked="@Model.IsFaculty" id="release-known" @bind-value="@Model.IsFaculty">
</div>

<div class="mb-3">
    <label for="other-info" class="form-label">Tiedekunta:</label>
    <input type="text" class="form-control" id="other-info" placeholder="Syötä koulu, joka julkaisi opinnäytetyön..." @bind-value="Model.Faculty">

    <ValidationMessage For="(() => Model.Faculty)" />
</div>