@*TODO: 
Rotate chevron
Add animation
Add colors
*@

<button type="button" class="collapsible" @onclick="@OnCollapsibleClick">
    <p><i class="fa-solid fa-chevron-right" /> @Title</p>
    <hr />
</button>
<div style="@contentClass">
    @Content
</div>

<style>
    .collapsible {
        background: none;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        font-size: 15px;
    }

        .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

</style>

@code {
    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? Title { get; set; }

    private bool visible = true;

    string contentClass => visible ? "display: block;" : "display: none;";

    private void OnCollapsibleClick()
        => visible = !visible;
}